<!-- <h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p> -->
<h1> Articles </h1>
<%= link_to 'New Article', new_article_path, class: 'btn btn-default' %>
<% if @articles.empty? %>
  <h1 id="no-articles">No articles found'</h1>
<% else %>
  <% @articles.each do |article| %>
    <div class="well well-lg article-detail">
      <div class="article-title">
        <%= link_to article.title, article_path(article) %>
      </div>
      <div class="article-body">
        <%= truncate(article.body, length: 500) %>
      </div>
    </div>
  <% end %>
  <%= will_paginate @articles, previous_label: 'Newer', next_label: 'Older',inner_window:1, outer_window:0, renderer: BootstrapPagination::Rails %>
  <br>
  <%= page_entries_info @posts %>
<% end %>
